.dropdown-menu{
  position: absolute;
  left: 0;

  background-color: white;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: space-evenly;

  padding: 20px 0;
}

.dropdown-menu div .dropdown-link{
  text-transform: uppercase;

  border-bottom: 1px solid black;
}

.dropdown-menu div .array-list{
  display: flex;
  flex-direction: column;
  /* white-space: pre-line; */
}

@media(max-width: 768px) {
  .fa-caret-down {
    display: none;
  }
}